<div class="titlepage">

  <h3>Who would you like to help you write this story?</h3><br>

    <%= form_tag new_story_membership_path(@story), :method => "get" do %>
      <%=label_tag :"Enter email:", params[:search] %>
      <%=text_field_tag(:search) %>
      <%=submit_tag "search", :name => nil %>
    <% end %><br>
  </div>
