<div class="row">
  <div class="col-med-12">
    <div class="image">
      <%= image_tag "plottwist.png" %>
    </div>

    <div class = "hover">
      <div class="light">
        <span class="text-content"><span>The fingers of her right hand tightened around the hilt of the machete. The amulet hung from her left hand, swaying lightly. She made sure to stand perfectly still. Slowly, the amulet levitated toward the door. Then it snapped to it like metal to a magnet. This was it. Behind the door, she’d have her answer.</span></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-med-12">
    <div class = "hover">
      <div class="dark">
        <span class="text-content"><span>“Ladies and gentlemen of the jury, have you reached your verdict?” “We have, your honor,” said the jury foreman. He unfolded a piece of paper dampened by his sweaty fingers. He loosened his tie. He wiped his forehead. He cleared his throat. “We find the defendant...” His throat closed up. He dropped to the floor.</span></span>
      </div>
    </div>

  
    <div class= "darkest">
      <p class="blocktext">Write a story with friends, one text at a time. Find out the full story only when it's finished. <b><%= link_to "Sign up", new_user_registration_path %></b> to get started.</p>
    </div>
  </div>
</div>


